section.about
    .container
        .title
            h2.title.title__header О компании

        p.about__text.
            Госдума приняла в третьем чтении законопроект, устанавливающий штрафы для должностных и юридических лиц за
            незаконную перепланировку жилья, а также подвалов и подсобок в многоквартирных домах.<br><br>

            Пока что установлена ответственность только за самовольную перепланировку жилых помещений в многоквартирных домах.
            Она распространяется исключительно на граждан. Новым законом суммы штрафов для граждан не меняются - сейчас они
            составляют от 2 тыс. до 2,5 тыс. рублей.<br><br>

            Зато компании теперь смогут наказывать за опасные переделки. Для должностных лиц штрафы составят от 4 тыс. до 5 тыс.
            рублей, для юридических - от 40 тыс. до 50 тыс. рублей.