section.approach
    .container
        .title
            h2.title.title__header Наши услуги и практика

        .approach__wrapper
            .square.square__pinky
                .icon.icon-hands
                .title__approach Услуги для <br>юридических лиц
                p.title__text.
                    Госдума приняла в третьем чтении законопроект, устанавливающий штрафы для должностных и юридических.
                span.title__details Подробнее
            .square.square__blue
                .icon.icon-piple
                .title__approach Услуги для <br>юридических лиц
                p.title__text.
                    Госдума приняла в третьем чтении законопроект, устанавливающий штрафы для должностных и юридических.
                span.title__details Подробнее
            .square.square__white
                .icon.icon-hummer
                .title__approach Услуги для <br>юридических лиц
                p.title__text.
                    Госдума приняла в третьем чтении законопроект, устанавливающий штрафы для должностных и юридических.
                span.title__details Подробнее