.contacts
    a.contact(href="tel: +7 (495) 205-9955")
        //i.fa.fa-mobile.contact__icon(aria-hidden="true")
        .icon.icon-viber_white
        span.contact__text +7 (495) 205-9955

    a.contact(href="mailto:info@business.co")
        .icon.icon-mail_ru_white
        span.contact__text info@business.co

    .contact__block
        a.vk(href="vk.com")
            .icon.icon-vk_white

        a.facebook(href="facebook.com")
            .icon.icon-facebook_white

        a.instagram(href="facebook.com")
            .icon.icon-instagram_white

        a.twitter(href="facebook.com")
            .icon.icon-twitter_white




