header#header.header
    .header__top
        .container
            include contact
    .container
        .header__bottom
            .logo: img.logo__picture(src="img/logo.png" alt="picture")
            include nav
            a.button.header__button.button--orange(href="#") ОБРАТНЫЙ ЗВОНОК

        .header__bottom--mobile
            .logo: img.logo__picture__mobail(src="img/logo_mobail.png" alt="picture")
            .header__bottom--mobile--phone +7 (495) 205-9955
            .back__call Обратный звонок