section.hero
    img.hero--1(src="img/logo-big.png" alt="picture")
    img.hero--2(src="img/arb_group.png" alt="picture")
    img.hero--3(src="img/lawyer_company.png" alt="picture")
    a.button.button--blue(href="#") бесплатная консультация