nav#nav.nav
    .nav__link
        each value, index in {'О компании' : 'header', 'Услуги' : 'approach', 'Публикации' : 'publication', 'Партнеры' : 'partners', 'Отзывы' : 'reviews', 'Контакты' : 'contact'}
            a.nav__link--menu(href = "#" + value)=index

    // - var items = ['О компании', 'Услуги', 'Публикации', 'Партнеры', 'Отзывы', 'Контакты']
    // each item in items
    //     if item === 'О компании'
    //         a.nav__link.nav__link--active(href="#")= item
    //     else
    //         a.nav__link(href="#")= item