section#partners.partners
    .container
        h2.title информационные партнеры

        .partners__wrapper
            .square
                p.partners__text.
                    Информационный портал «Правовые новости»
                img.reviews__picture--1(src="img/partners_logo_1.png" alt="picture")
                span.partners__title https://pravo.ru
            .square
                p.partners__text.
                    Электронное Издание LEGAL.REPORT
                img.reviews__picture--2(src="img/partners_logo_2.png" alt="picture")
                span.partners__title https://legal.report
            .square
                p.partners__text.
                    Международное сообщество 4LEGAL
                img.reviews__picture--3(src="img/partners_logo_3.png" alt="picture")
                span.partners__title https://4legalforum.ru