section#publication.publication
    .container
        h2.title публикации
        .publication__wrap
            .title__text 13.04.2020
            .publication__wrap--title Госдума приняла в третьем чтении законопроект
            .publication__text.
                Госдума приняла в третьем чтении законопроект, устанавливающий штрафы для должностных и юридических
                лиц за незаконную перепланировку жилья
            .title__details Подробнее

        .publication__wrap
            .title__text 13.04.2020
            .publication__wrap--title Госдума приняла в третьем чтении законопроект
            .publication__text.
                  Госдума приняла в третьем чтении законопроект, устанавливающий штрафы для должностных и юридических
                  лиц за незаконную перепланировку жилья
            .title__details Подробнее

        .publication__wrap
            .title__text 13.04.2020
            .publication__wrap--title Госдума приняла в третьем чтении законопроект
            .publication__text.
                 Госдума приняла в третьем чтении законопроект, устанавливающий штрафы для должностных и юридических
                 лиц за незаконную перепланировку жилья
            .title__details Подробнее

        a.button.button--orange(href="#") все публикации



