section#reviews.reviews
    .container
        h2.title отзывы

        .reviews__wrapper
            .square
                img.reviews__picture(src="img/review_1.png" alt="picture")
                p.title__text.
                    Госдума приняла в третьем чтении законопроект, устанавливающий штрафы для должностных и юридических.
                .square__star
                    .icon.icon-star
                    .icon.icon-star
                    .icon.icon-star
                    .icon.icon-star
                    .icon.icon-star

                span.title__details Марианна Васильева
                span.title__details--color СЕО, Предприниматель

            .square
                img.reviews__picture(src="img/review_2.png" alt="picture")
                p.title__text.
                    Госдума приняла в третьем чтении законопроект, устанавливающий штрафы для должностных и юридических.
                .square__star
                    .icon.icon-star
                    .icon.icon-star
                    .icon.icon-star
                    .icon.icon-star
                    .icon.icon-star

                span.title__details Виктор Цой
                span.title__details--color Генеральный Директор

            .square
                img.reviews__picture(src="img/review_3.png" alt="picture")
                p.title__text.
                    Госдума приняла в третьем чтении законопроект, устанавливающий штрафы для должностных и юридических.
                .square__star
                    .icon.icon-star
                    .icon.icon-star
                    .icon.icon-star
                    .icon.icon-star
                    .icon.icon-star_white

                span.title__details Виталий Мишустин
                span.title__details--color Владелец Бизнеса