.footer {

  .map__responsive {
    overflow: hidden;
    position: relative;
    padding-bottom: 500px;
    height: 0;

    iframe {
      left: 0;
      top: 0;
      width: 100%;
      position: absolute;
    }
  }

  .footer__bottom {

    .container__footer {
      display: flex;
      justify-content: space-between;
    }

    .footer__bottom--left {

      .title__footer {
        font-family: $ff_main;
        font-size: 2.25rem;
        text-align: left;
        text-transform: uppercase;
      }

      .footer__bottom__text {
        font-family: $ff_steps;
        font-weight: 300;
        font-size: 1.5rem;
        text-align: left;
        margin-bottom: 8px;
        //line-height: 1.8rem;
      }

      .footer__social {
        display: flex;
        flex-wrap: nowrap;
        align-content: flex-start;

        .icon {
          margin-right: 12px;
        }
      }
    }

    .footer__bottom--right {

    }
  }
}
