.header {
  &__top {
    background-color: #D8DBE3;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 14px 0;

    .button {
      @media (max-width: 1080px) {
        margin-right: 15px;
      }

    }
  }
}

.contacts {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 7px 6px;
  transition: 0.3s;
  color: #282B4F;

  &:hover {
    color: lighten(#424242, 20%);
  }
}

.contact__text {
  font-size: 1.125rem;
  font-family: $ff_steps;
  letter-spacing: 0.02em;
  padding-left: 8px;
}

.contact,
.contact__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 18px;
  text-decoration: none;

  &:first-child {

  }
}

.contact__block {
  width: 151px;
}

.logo {
  @media (max-width: 1080px) {
    margin-left: 15px;
  }

  @media (max-width: 1000px) {
    margin-left: 0;
    margin-bottom: 15px;
  }
}