.reviews {
  padding: 86px 0 94px;
  background-color: #E7E9EE;

  .title__header {
    font-size: 2.875rem;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .square {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 401px;
      height: 580px;
      border-radius: 30px;
      box-shadow: 0 4px 31px rgba(0, 0, 0, 0.15);
      border: 1px solid #DEDEDE;
      box-sizing: border-box;
      padding: 40px 60px;
      background-color: #ffffff;
      text-align: center;

      .reviews__picture {
        width: 149px;
        height: 149px;
      }

      .title__text {
        font-family: $ff_steps;
        font-size: 1.25rem;
        line-height: 27px;
        margin: 0;
        padding: 24px 0 10px 0;
      }

      .title__details {
        font-family: $ff_steps;
        font-weight: 400;
        font-size: 1.25rem;
        line-height: 27px;
      }

      .title__details--color {
        font-family: $ff_steps;
        font-weight: 700;
        line-height: 18px;
        font-size: 1.25rem;
        color: #F6A278;
        font-style: normal;
      }

      &__star {
        width: 147px;
        display: flex;
        justify-content: space-between;
        padding: 30px 0;
      }
    }
  }

  @media only screen and (max-width : 800px) {
    padding: 48px 0;
    .title__header {
      font-family: $ff_mart-book;
      font-size: 1.875rem;
    }
  }
}