.button {
  border-radius: 50px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 0.9375rem;
  line-height: 20px;
  letter-spacing: 0.02em;
  font-weight: 900;
  font-family: $ff_main-bold;

  &--orange {
    width: 200px;
    height: 44px;
    background: #F6A278;
    transition: 0.3s;
    padding: 13px 0;

    @media (max-width: 1200px) {
      width: 180px;
    }

    @media only screen and (min-width : 375px) and (max-width : 800px) {
      display: none;
    }
  }

  &--blue {
    width: 290px;
    height: 44px;
    background: #667088;
    transition: 0.3s;
    padding: 14px 0;
  }

  &--red {
    background: #de2b24;
    transition: 0.3s;

    &:hover {
      background: lighten(#de2b24, 7%);
    }
  }

  &--yellow {
    background: #f8cd53;

    &--hover {
      background: lighten(#f8cd53, 7%);
    }
  }

  &--text-uppercase {
    text-transform: uppercase;
  }
}