@font-face {
  font-family: "Mart";
  src: url("../../fonts/Mart.otf") format("0tf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Mart Bold";
  src: url("../../fonts/Mart Bold.otf") format("0tf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Mart Book";
  src: url("../../fonts/Mart Book.otf") format("0tf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Mart Extra Bold";
  src: url("../../fonts/Mart Extra Bold.otf") format("0tf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Mart Fat";
  src: url("../../fonts/Mart Fat.otf") format("0tf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Mart Heavy";
  src: url("../../fonts/Mart Heavy.otf") format("0tf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Mart Light";
  src: url("../../fonts/Mart Light.otf") format("0tf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Mart SemiBold";
  src: url("../../fonts/Mart Semi bold.otf") format("0tf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Mart Ultra";
  src: url("../../fonts/Mart Ultra.otf") format("0tf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../../fonts/Roboto-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}