// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$facebook-name: 'facebook';
$facebook-x: 81px;
$facebook-y: 86px;
$facebook-offset-x: -81px;
$facebook-offset-y: -86px;
$facebook-width: 48px;
$facebook-height: 48px;
$facebook-total-width: 228px;
$facebook-total-height: 200px;
$facebook-image: '../images/sprite.png';
$facebook: (81px, 86px, -81px, -86px, 48px, 48px, 228px, 200px, '../images/sprite.png', 'facebook', );
$facebook-white-name: 'facebook_white';
$facebook-white-x: 96px;
$facebook-white-y: 152px;
$facebook-white-offset-x: -96px;
$facebook-white-offset-y: -152px;
$facebook-white-width: 28px;
$facebook-white-height: 28px;
$facebook-white-total-width: 228px;
$facebook-white-total-height: 200px;
$facebook-white-image: '../images/sprite.png';
$facebook-white: (96px, 152px, -96px, -152px, 28px, 28px, 228px, 200px, '../images/sprite.png', 'facebook_white', );
$hands-name: 'hands';
$hands-x: 0px;
$hands-y: 86px;
$hands-offset-x: 0px;
$hands-offset-y: -86px;
$hands-width: 81px;
$hands-height: 66px;
$hands-total-width: 228px;
$hands-total-height: 200px;
$hands-image: '../images/sprite.png';
$hands: (0px, 86px, 0px, -86px, 81px, 66px, 228px, 200px, '../images/sprite.png', 'hands', );
$hummer-name: 'hummer';
$hummer-x: 0px;
$hummer-y: 0px;
$hummer-offset-x: 0px;
$hummer-offset-y: 0px;
$hummer-width: 100px;
$hummer-height: 86px;
$hummer-total-width: 228px;
$hummer-total-height: 200px;
$hummer-image: '../images/sprite.png';
$hummer: (0px, 0px, 0px, 0px, 100px, 86px, 228px, 200px, '../images/sprite.png', 'hummer', );
$instagram-name: 'instagram';
$instagram-x: 129px;
$instagram-y: 86px;
$instagram-offset-x: -129px;
$instagram-offset-y: -86px;
$instagram-width: 48px;
$instagram-height: 48px;
$instagram-total-width: 228px;
$instagram-total-height: 200px;
$instagram-image: '../images/sprite.png';
$instagram: (129px, 86px, -129px, -86px, 48px, 48px, 228px, 200px, '../images/sprite.png', 'instagram', );
$instagram-white-name: 'instagram_white';
$instagram-white-x: 124px;
$instagram-white-y: 152px;
$instagram-white-offset-x: -124px;
$instagram-white-offset-y: -152px;
$instagram-white-width: 28px;
$instagram-white-height: 28px;
$instagram-white-total-width: 228px;
$instagram-white-total-height: 200px;
$instagram-white-image: '../images/sprite.png';
$instagram-white: (124px, 152px, -124px, -152px, 28px, 28px, 228px, 200px, '../images/sprite.png', 'instagram_white', );
$mail-ru-white-name: 'mail_ru_white';
$mail-ru-white-x: 152px;
$mail-ru-white-y: 152px;
$mail-ru-white-offset-x: -152px;
$mail-ru-white-offset-y: -152px;
$mail-ru-white-width: 28px;
$mail-ru-white-height: 28px;
$mail-ru-white-total-width: 228px;
$mail-ru-white-total-height: 200px;
$mail-ru-white-image: '../images/sprite.png';
$mail-ru-white: (152px, 152px, -152px, -152px, 28px, 28px, 228px, 200px, '../images/sprite.png', 'mail_ru_white', );
$piple-name: 'piple';
$piple-x: 100px;
$piple-y: 0px;
$piple-offset-x: -100px;
$piple-offset-y: 0px;
$piple-width: 100px;
$piple-height: 86px;
$piple-total-width: 228px;
$piple-total-height: 200px;
$piple-image: '../images/sprite.png';
$piple: (100px, 0px, -100px, 0px, 100px, 86px, 228px, 200px, '../images/sprite.png', 'piple', );
$twitter-name: 'twitter';
$twitter-x: 0px;
$twitter-y: 152px;
$twitter-offset-x: 0px;
$twitter-offset-y: -152px;
$twitter-width: 48px;
$twitter-height: 48px;
$twitter-total-width: 228px;
$twitter-total-height: 200px;
$twitter-image: '../images/sprite.png';
$twitter: (0px, 152px, 0px, -152px, 48px, 48px, 228px, 200px, '../images/sprite.png', 'twitter', );
$twitter-white-name: 'twitter_white';
$twitter-white-x: 200px;
$twitter-white-y: 0px;
$twitter-white-offset-x: -200px;
$twitter-white-offset-y: 0px;
$twitter-white-width: 28px;
$twitter-white-height: 28px;
$twitter-white-total-width: 228px;
$twitter-white-total-height: 200px;
$twitter-white-image: '../images/sprite.png';
$twitter-white: (200px, 0px, -200px, 0px, 28px, 28px, 228px, 200px, '../images/sprite.png', 'twitter_white', );
$viber-white-name: 'viber_white';
$viber-white-x: 200px;
$viber-white-y: 28px;
$viber-white-offset-x: -200px;
$viber-white-offset-y: -28px;
$viber-white-width: 28px;
$viber-white-height: 28px;
$viber-white-total-width: 228px;
$viber-white-total-height: 200px;
$viber-white-image: '../images/sprite.png';
$viber-white: (200px, 28px, -200px, -28px, 28px, 28px, 228px, 200px, '../images/sprite.png', 'viber_white', );
$vk-name: 'vk';
$vk-x: 48px;
$vk-y: 152px;
$vk-offset-x: -48px;
$vk-offset-y: -152px;
$vk-width: 48px;
$vk-height: 48px;
$vk-total-width: 228px;
$vk-total-height: 200px;
$vk-image: '../images/sprite.png';
$vk: (48px, 152px, -48px, -152px, 48px, 48px, 228px, 200px, '../images/sprite.png', 'vk', );
$vk-white-name: 'vk_white';
$vk-white-x: 200px;
$vk-white-y: 56px;
$vk-white-offset-x: -200px;
$vk-white-offset-y: -56px;
$vk-white-width: 28px;
$vk-white-height: 28px;
$vk-white-total-width: 228px;
$vk-white-total-height: 200px;
$vk-white-image: '../images/sprite.png';
$vk-white: (200px, 56px, -200px, -56px, 28px, 28px, 228px, 200px, '../images/sprite.png', 'vk_white', );
$spritesheet-width: 228px;
$spritesheet-height: 200px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($facebook, $facebook-white, $hands, $hummer, $instagram, $instagram-white, $mail-ru-white, $piple, $twitter, $twitter-white, $viber-white, $vk, $vk-white, );
$spritesheet: (228px, 200px, '../images/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
