// Fonts
@import "fonts";
$ff_main: 'Mart';
$ff_light: 'Mart Light';
$ff_main-bold: 'Mart 900';
$ff_main-medium: 'Mart 700';
$ff_steps: 'Roboto';
$ff_text: 'Roboto 900';
$ff_text-light: 'Roboto Light';
$ff_mart-book: 'Mart Book';
$ff_text-roboto-black: "Roboto Black";
$ff_text-roboto-medium: "Roboto Medium";